body {
  font-family: "Raleway", sans-serif; }

/* Home Page Style */
.ww-home-page {
  background: url("../images/FotoPortada.jpg") no-repeat;
  background-size: cover;
  background-position: 25%;
  height: 100vh;
}

@media (max-width: 700px) {
  .ww-home-page {
    height: 60vh;
  }
}

/* Nav Bar Style */
.ww-nav-bar {
  background: url("../images/confetti-bg-smallmodif.png") no-repeat;
  background-repeat: repeat-x;
  background-size: 1200px;
  background-position: top;
}

.ww-nav-bar .navbar-brand {
  font-size: 24px;
  /* font-weight: 700; */
  color: #fff;
  text-transform: uppercase;
  letter-spacing  : 1px; }

.ww-nav-bar .navbar-brand .ampersand {
  color: #979797; }

.navbar-dark .navbar-nav .nav-link {
  color: #979797; }

.ww-nav-bar .navbar {
  display: flex;
  flex-direction: column;
}

.ww-nav-bar .navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.ww-nav-bar .nav-item {
  font-size: 18px;
  padding: 5px 0 5px 16px;
  font-weight: 500; }


/* Bienvenida Style */
.bienvenida h1 {
  font-weight: 300;
}
.bienvenida p {
  font-size: 1.2rem;
  margin: 2rem;
}

.bienvenida img {
  width: 20rem;
  margin-top: 3rem;
}

/* Dinerito Style */
.ww-dinerito h4.h4.text-center {
  margin-top: -.5rem;
}

.ww-dinerito p {
  margin-bottom: 0;
}

.ww-dinerito .iban {
  font-size: 1.5rem;
  margin-top: .7rem;
}

/* Wedding Event Style */
.ww-wedding-event ul {
  list-style: none;
  padding-left: 0; }

/* Photo Gallery Style */
.ww-photo-gallery .ww-category-filter a {
  display: inline-block;
  margin: 0 10px 6px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

.ww-photo-gallery .ww-gallery {
  min-height: 500px; }

.ww-photo-gallery .card-columns .card {
  border: none;
  margin-bottom: 15px;
  border-radius: none; }

@media (max-width: 992px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 2;
         column-count: 2; } }

@media (max-width: 576px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 1;
         column-count: 1; } }

/* RSVP Style */
.ww-rsvp-detail {
  background: url("../images/restaurante-risas-editada.jpeg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  position: relative; }
  .ww-rsvp-detail .ww-rsvp-form {
    padding-left: 20%; }
    @media (max-width: 768px) {
      .ww-rsvp-detail .ww-rsvp-form {
        padding-left: 10%; } }
    @media (max-width: 576px) {
      .ww-rsvp-detail .ww-rsvp-form {
        padding-left: 0%; } }
    .ww-rsvp-detail .ww-rsvp-form .form-control {
      background-color: rgba(222, 222, 222, 0.2);
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.6); }
    .ww-rsvp-detail .ww-rsvp-form .form-control::-moz-placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form .form-control:-ms-input-placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form .form-control::placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form select.form-control option {
      background: rgba(0, 0, 0, 0.3);
      color: #fff; }
    .ww-rsvp-detail .ww-rsvp-form .btn-submit {
      background-color: rgba(245, 138, 119, 0.8);
      padding: 0.45rem 1.5rem;
      border: 0; }

.ww-rsvp-detail:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.ww-rsvp-detail .ww-rsvp-form .form-control {
  color: #495057;
}

/* Footer Style */
.ww-footer a.credit {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

/* Common Style */
.ww-title {
  font-family: "Ms Madi", serif; }

.ww-section {
  padding: 100px 0; }

.btn-primary {
  color: #fff; }

.btn-outline-primary:hover {
  color: #fff; }

.bg-dark {
  background-color: #4a484d !important;
  color: #fff;
}